.about-us-title {
  margin-bottom: 50px;
}

.owner {
  display: flex;
  align-self: flex-end;
  column-gap: 30px;
}

.blockquote {
  display: flex;
  flex-direction: column;
}

.renameMe {
  margin-bottom: 30px;
}

.quote {
  position: relative;
  padding-left: 29px;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 40px;
}

.quote:before {
  position: absolute;
  top: -12px;
  left: 0;
  content: "\201c";
  color: #6C0287;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
}

.quote::after {
  content: "\201d";
  padding-left: 10px;
  color: #6C0287;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
}