.contacts__title {
  margin-bottom: 54px;
}

.contacts__info {
  font-size: 24px;
  line-height: 117%;
  font-style: normal;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 30px;
}

.contacts__address {
  font-weight: 700px;
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 27px;
}

.contacts__address::before {
  content: "";
  display: inline-block;
  background-image: url(../img/location.svg);
  width: 35px;
  height: 32px;

}

.contacts__link {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  align-self: flex-start;
}

.contacts__phone::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  background-image: url(../img/phone-call-icon.svg);
  width: 35px;
  height: 32px;
}

.contacts__mail::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  background-image: url(../img/message-icon.svg);
  width: 36px;
  height: 24px;
}

.social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 26px;
  padding: 0;
  
}

.social__link {
  display: block;
  color: white;
  width: 50px;
  height: 50px;
  transition: 1s;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 50%;
}

.social__link:hover {
  color: #CD06FF;
}

.social__link:focus {
  outline-color: #CD06FF;
}

.social__link:active {
  color: #840AA3;
}