.faq {
  padding-left: 0;
}

.faq__title {
  margin-bottom: 40px;
}

.faq__item {
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq__item:nth-child(even) {
  background-color: #440F51;
  color: white;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item::after {
  content: "";
  background-image: url(../img/open_white_original.svg);
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  background-size: contain;
  
}

.faq__item:hover::after {
  background-image: url(../img/open_white_hover.svg);
}

.faq__item:active::after {
  background-image: url(../img/open_white_active.svg);
}

.faq__item:nth-child(odd)::after {
  content: "";
  display: inline-block;
  background-image: url(../img/plus-purple.svg);
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  background-size: contain;
  cursor: pointer;
}

.faq__item:hover:nth-child(odd)::after {
  background-image: url(../img/open_purple_hover.svg);
}

.faq__item:nth-child(odd):active::after {
  background-image: url(../img/open_purple_active.svg);
}