.halls-title {
  margin-bottom: 60px;
}

.halls-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.halls-item {
  width: 100%; 
  min-height: 710px;
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.halls-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.vibes80 {
  background: url('../img/80Vibes.jpg') center/cover no-repeat;
}

.star-wars {
  background: url('../img/StarWars.jpg') center/cover no-repeat;
}

.wild-west {
  background: url('../img/WildWest.jpg') center/cover no-repeat; 
}

.neon-style {
  background: url('../img/NeonStyle.jpg')center/cover no-repeat; 
}